[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
free-money = {editable = true, path = "."}
plug-framework = {path = "../plug-libs/plug_framework-0.0.24-py3-none-any.whl"}
plug-api = {path = "../plug-libs/plug-api-2.0.1.tar.gz"}

[dev-packages]

[requires]
python_version = "3.7"
