[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
balance_tutorial = {editable = true, path = "."}
"9054754" = {path = "./../overview/libs/plug-0.0.20.tar.gz"}

[requires]
python_version = "3.6"
