[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plug-framework = {path = "../plug-libs/plug_framework-0.0.24-py3-none-any.whl"}
"9bbdfd2" = {path = "../plug-libs/plug-api-2.0.1.tar.gz"}
free-money = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
