[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
free_money = {editable = true, path = "."}
plug-framework = {path = "*YOUR_PATH_TO_PLUG*/plug_framework-0.0.24-py3-none-any.whl"}
plug_api = {path = "*YOUR_PATH_TO_PLUG*/plug-api-2.0.1.tar.gz"}

[dev-packages]
mock = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
